-i https://pypi.org/simple
certifi==2020.4.5.1
cftime==1.1.1.2
chardet==3.0.4
future==0.18.2
geoserver-restconfig==2.0.15
gisdata==0.5.4
idna==2.9
jinja2==2.11.1
markupsafe==1.1.1
numpy==1.26.4
h5py==3.10.0
netCDF4==1.6.5
pyyaml
requests
six
urllib3